# Dependencies
node_modules
.npm

# Environment
.env
.env.local
.env.production
.env*.local

# Next.js
.next
out
build

# Vercel
.vercel

# Turborepo
.turbo

# Supabase
supabase/.branches
supabase/.temp

# OS
.DS_Store
Thumbs.db